{% load i18n %}
{% load static %}

<style media="screen">

.container_chat {
    border: 2px solid #f2f2f2;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.branco {
    border-color: #f2f2f2;
    background-color: #ffffff;
}

.container_chat img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container_chat img.right {
    float: right;
    /* margin-left: 20px; */
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #000;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

</style>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
<link rel="stylesheet" href='{% static 'css/fonts/linecons/css/linecons.css' %}'>
<link rel="stylesheet" href='{% static 'css/fonts/fontawesome/css/font-awesome.min.css' %}'>
<link rel="stylesheet" href='{% static 'css/fonts/elusive/css/elusive.css' %}'>
<link rel="stylesheet" href='{% static 'css/bootstrap.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-core.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-forms.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-components.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/xenon-skins.css' %}'>
<link rel="stylesheet" href='{% static 'css/xenon/custom.css' %}'>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
